@charset "utf-8";

h4{
  color: #eea30d;
  border:0;
  margin:0;
  padding:0;
}

body {
  text-align: center;
  font-family: courier;
  background-image:url("../assets/image.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
}

a {
  text-decoration: none;
  color: #505050;
  font-weight: bold;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

input {
  border: 0;
  color: inherit;
  font-family: Courier;
  font-size: 100%;
  line-height: normal;
  margin: 0;
}

p {
  margin: 0;
}
